{% extends 'base.html' %}

{% block content %}
<br>
<form action="" method="post" class="container" enctype="multipart/form-data">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="center text-primary fw-bold">Create wall</h3>
  
        <br>
  
        <div class="input-group mb-3">
          <div class="form-floating">
            <input type="text" class="form-control text-dark  fw-bold" id="floatingInputGroup1" name="name" placeholder="Enter name of wall">
            <label for="floatingInputGroup1" class="text-primary fw-bold">Wall name</label>
          </div>
        </div>
  
        <br>
  
        <button type="submit" class="btn btn-dark text-primary mb-3 d-block w-50 mx-auto">Create</button>
     </div>
    </div>
  </form>


{% endblock content %}