{% extends 'base.html' %}

{% block content %}
<br>
<form action="" method="post" class="container" enctype="multipart/form-data">
    <div class="row justify-content-center">
      <div class="col-md-6">
  
        <br>
  
        <div class="input-group mb-3">
          <div class="form-floating">
            <input type="text" class="form-control text-dark  fw-bold" id="floatingInputGroup1" name="title" placeholder="Title">
            <label for="floatingInputGroup1" class="text-primary fw-bold">Title</label>
          </div>
        </div>
  
        <br>
  
        <div class="form-floating">
            <textarea class="form-control text-dark" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="text"></textarea>
            <label for="floatingTextarea2" class="text-primary fw-bold">Text</label>
        </div>
        
        <br>

        <button type="submit" class="btn btn-dark text-primary mb-3 d-block w-50 mx-auto">Add</button>
     </div>
    </div>
  </form>


{% endblock content %}